*{
    background-color: #00BF63;
}


body {
    font-family: Arial, sans-serif;
    /* background-color: rgb(231, 250, 215); */

}
  
.signup-form {
    width: 500px;
    /* background-color: #c6efce; */
    padding: 20px;
    border: 1px solid #c6efce;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 100px;
    display: block; 
}

.signup-form h2 {
    text-align: center;
    color: #2E865F; /* Dark green theme */
    /* background-color: #c6efce; */
}

.signup-form label {
    display: block;
    margin-bottom: 10px;
    color: #2E865F;
    font-weight: bold;
}
form, .signup-form input[type="text"], input[type="email"], input[type="Home Address"], .signup-form label, .signup-form h2, .signup-form{
    background-color: #d2f6d4;
}
.signup-form input[type="text"], input[type="email"], input[type="Home Address"] {
    width: 80%;
    height: 40px;
    margin: 20px 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    /* center inputs*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.signup-form button[type="submit"] {

    background-color: #2E865F; /* Dark green theme */
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.signup-form button[type="submit"]:hover {
    background-color: #1E7353; /* Dark green hover theme */
} 

.signup-form button{
    background-color: #059d63;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;  
    display: block;
    margin-left: auto;
    margin-right: auto;  
    
}
img{
    border-radius: 20px;
    width: 100px;
    height: 100px;
    /* center image*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    background-color: #2E865F; 
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}
